body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: ligh;
}

/* Header styles */
header {
    background-color: #b76e79;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 10px;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #b8aeb4    ;
    color: black;
    text-align: center;
}

nav ul {
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the nav items */
}

nav li {
    color: black;
    display: inline-block;
    margin-right: 20px;
    position: relative; /* Required for the dropdown positioning */
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F6EB61;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero section styles */
.hero {
    position: relative;
    height: 80vh; /* Adjust the height of the video background */
    max-height: 800px; /* Maximum height of the hero section */
    overflow: hidden;
}

.cta-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}

.cta-btn:hover {
    background-color: #00A5FF;
}

/* Features section styles */
.features {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.feature {
    flex: 1;
    text-align: center;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    
}

.last{
    height: 300px;
    position: relative;
}