body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image:green;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    position: relative; /* Required for the dropdown positioning */
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: green;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.cta-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}

.cta-btn:hover {
    background-color: #00A5FF;
}

/* Features section styles */
.features {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.feature {
    flex: 1;
    text-align: center;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.cont h2{
    font-size: 36px;
    margin-bottom: 20px;

}

.cont h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.cont p{
    font-size: 18px;
    margin-bottom: 15px;
}
.cont body{
    font-size: 16px;
    line-height: 1.6;
}